<% include partials/header %>

<h1>Create a New Campground</h1>

<form class="" action="/campground" method="POST">
  <input type="text" name="name" placeholder="Camp Name" value="">
  <input type="text" name="image" placeholder="Img URL of campground" value="">
  <button type="submit" name="button">Submit</button>
</form>

<a href="/campground">Return to Campgrounds</a>

<% include partials/footer %>
